<h1>Listing message_templates</h1>
<h3><%= link_to @company.name, @company %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_templates.each do |message_template| %>
  <tr>
    <td><%= message_template.name %></td>
    <td><%= message_template.source %></td>
    <td><%= link_to 'Show', [@company,message_template] %></td>
    <td><%= link_to 'Edit', edit_company_message_template_path(@company,message_template) %></td>
    <td><%= link_to 'Destroy', [@company,message_template], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message template', new_company_message_template_path(@company) %>
